* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(90deg, #6190e8, #a7bfe8);
}

form {
  min-height: 75vh;
  width: 75vw;
  background-color: white;
  padding: 2rem 4rem;
  border-radius: 2rem;
  display: flex;
  justify-content: space-evenly;
  gap: 1em;
  position: relative;
}

.title {
  color: #6190e8;
  font-size: 3em;
}

p {
  font-size: 1.6em;
}

.contact-left, .contact-right {
  flex: 1;
}

.contact-right {
  display: flex;
  flex-direction: column ;
  justify-content: space-between;
  margin-top: 2em;
}

.input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border: none;
  outline: none;
  color: #777474;
  font-size: 1.3rem;
  cursor: pointer;
  outline: none;
  padding: 2rem 0rem;
  padding-bottom: 2rem;

}

.input-container {
  position: relative;
  margin-bottom: 2em;
}

.placeholder {
  position: relative;
  z-index: 1;
  pointer-events: none;
  padding: 0.3rem 0rem;
  font-size: 2rem;
  opacity: 0.6;
  transform-origin: left;
}

.line-svg {
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: visible;
  width: 21em;
}

.promo-container {
  position: relative;
  display: flex;
  gap: 1em;
  margin-bottom: 2em;
}



.checkbox {
  width: 2em;
  height: 2em;
  cursor: pointer;
  opacity: 0;
  z-index: 3;
}



.checkbox-label {
  font-size: 1.3em;
  color: #c5c5c5;
}
.checkbox-container {
  position: relative;
  height: 2rem;
  width: 2rem;
  border-radius: 3px;
  overflow: hidden;
}

.checkmark,
.checkbox {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid black;
}

.checkbox-fill {
  position: absolute;
  background-color: #6190e8;
  width: 100%;
  height: 100%;
  top: 100%;
}

.tick-mark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);

}

button{
  font-family: "poppins" sans-serif;
  height: 4.5em;
  background-color: #6190e8;
  color: white;
  border: none;
  border-radius: 1em;
}

#character{
  position: absolute;
  transform: scale(0.8) translate(0%, 30%);
  bottom: 0;
  left: 0;
  transform-origin: bottom;
}

.submitted {
  position: absolute;
  left: 50%;
  top: 50%;
  color: #777474;
  font-size: 1rem;
  pointer-events: none;
  text-align: center;
  transform: translate(-50%, -50%);
  opacity: 0;
}

@media screen and (max-width: 812px) {
  form {
    width: 90vw;
    min-height: 80vh;
    flex-direction: column;
    padding:3rem 3rem;
  }
  .contact-left, .contact-right {
    scale: 0.9
  }
  .contact-right {
    margin-bottom: 14em;
  }
  
  #character{
    transform: scale(0.6), translate(0%, 30%);
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: bottom;
  }
  
}
